﻿<!DOCTYPE html>
<html ng-app="spacel" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SPACEL - The Space Elephant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The description of my page" />

    <link rel="stylesheet" href="~/Content/Styles/app.css" />
    <link rel="stylesheet" href="~/Content/Styles/cargo-hold-view.css" />
    <link rel="stylesheet" href="~/Content/Styles/bridge-view.css" />

    <script src="~/Scripts/Lib/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Lib/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Lib/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Lib/underscore.js" type="text/javascript"></script>

    <script src="~/Scripts/Models/User.js" type="text/javascript"></script>
    <script src="~/Scripts/Models/ItemStack.js" type="text/javascript"></script>
    <script src="~/Scripts/Models/Inventory.js" type="text/javascript"></script>

    <script src="~/Scripts/App.js" type="text/javascript"></script>
    <script src="~/Scripts/ServiceUrls.js" type="text/javascript"></script>

    <script src="~/Scripts/Directives/BridgeView.js"></script>
    <script src="~/Scripts/Directives/EngineeringView.js"></script>
    <script src="~/Scripts/Directives/CargoHoldView.js"></script>
    <script src="~/Scripts/Directives/ArmoryView.js"></script>
    <script src="~/Scripts/Directives/WeaponControlView.js"></script>
    <script src="~/Scripts/Directives/LabView.js"></script>
    <script src="~/Scripts/Directives/CanteenView.js"></script>
</head>
<body>
    <div id="ui-wrapper" ng-controller="MainUIController">
        <div class="topbar">
            <span>Today is {{ gameDate.galacticDate }}</span>
            |
            <span>Your crew welcomes you, <a href="#">{{ currentUser.username }}</a>!</span>
            |
            <span><a href="@Url.Action("LogOff", "Account")">Log out</a></span>
        </div>

        <div class="sidebar">
            <div class="profile-data">
                <label class="window-title">Pilot Data</label>
                <img class="profile-image" ng-src="{{currentUser.getProfileImage()}}" />
                <div class="profile-control-panel">
                    <a href="#">Manage</a> |
                    <a href="#">Social</a> |
                    <a href="#">Contact GM</a>
                </div>
            </div>

            <div class="ship-navigation">
                <label class="window-title">Ship Navigation</label>
                <ul>
                    <li ng-repeat="room in rooms" class="ship-section"
                        ng-class="{'current': room == currentRoom}"
                        ng-click="transferTo(room)">
                        <a href="#">{{room}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="room-view">
            <label class="window-title">{{ currentRoom }}</label>
            <bridge-view location="currentLocation" users="localUsers" ship="currentShip" ng-show="currentRoom == 'Bridge'"></bridge-view>
            <cargo-hold-view inventory="currentInventory" ng-show="currentRoom === 'Cargo Hold'"></cargo-hold-view>
            <engineering-view ship="currentShip" user="currentUser" ng-show="currentRoom === 'Engineering'"></engineering-view>
            <armory-view ship="currentShip" ng-show="currentRoom === 'Armory'"></armory-view>
            <weapon-control-view ship="currentShip" ng-show="currentRoom === 'Weapon Control'"></weapon-control-view>
            <lab-view ship="currentShip" ng-show="currentRoom === 'Lab'"></lab-view>
            <canteen-view ship="currentShip" ng-show="currentRoom === 'Canteen'"></canteen-view>
        </div>

        <div class="console">
            <label class="window-title">Console</label>
            <div>
                <p>Console command prompt and out</p>
            </div>
        </div>
    </div>
</body>
</html>
