﻿<div id="bridge-view">
    <div id="local-users">
        <p>Local users:</p>
        <ul>
            <li ng-repeat="user in users">
                <p><strong>{{user.username}}</strong></p>
                <p>{{user.rank}}</p>

                <a ng-click="targetThis(user)">Lock on</a>
            </li>
        </ul>
    </div>
    <div id="current-target">
        <p>Current Target:</p>
        <img class="profile-image" ng-src="{{user.getSmallProfileImage()}}" />
        <p><strong>{{target.username}}</strong></p>
        <p>{{target.rank}}</p>
        <p>{{target.getUserHp(1)}}</p>
        
        <select ng-model="selectedAction" id="actions" ng-options="a for a in availableActions"></select>
        <select ng-show="selectedAction == 'Attack'" ng-model="selectedWeapon" id="weaponSelect" ng-options="a for a in availableWeapons"></select>
        <input type="button" value="Execute" ng-click="executeAction(selectedAction, selectedWeapon)"/>
    </div>
</div>