﻿<div id="cargo-hold">
    <div id="cargo-hold-header-wrapper">
        <table id="cargo-hold-header">
            <colgroup>
                <col class="item-name" />
                <col class="item-quantity" />
                <col class="item-type" />
            </colgroup>
            <th>Name</th>
            <th>Quantity</th>
            <th>Type</th>
        </table>
    </div>

    <div id="cargo-hold-items-wrapper">
        <table id="cargo-hold-items">
            <colgroup>
                <col class="item-name" />
                <col class="item-quantity" />
                <col class="item-type" />
            </colgroup>
            <tr class="inventory-item" ng-repeat="item in inventory">
                <td>{{item.name}}</td>
                <td>{{item.quantity == 1 ? '-' : item.quantity}}</td>
                <td>{{item.type}}</td>
            </tr>
        </table>
    </div>
</div>