﻿<p>Available Lumias: {{lumiasCount}}</p>

<p ng-hide="isAbleToUpgrade()">Not enough Lumias 920</p>

<div ng-show="isAbleToUpgrade()">
    <select ng-model="selectedUpgrade" id="upgrades" ng-options="a for a in availableUpgrades"></select>
    <input ng-show="selectedUpgrade" type="button" value="Upgrade {{selectedUpgrade}}" ng-click="upgradeShip(selectedUpgrade)"/>
</div>

