﻿@font-face {
  font-family: control-freak;
  src: url('../Assets/Fonts/CONTF___.ttf') format('truetype');
}
@media (min-device-width: 1280px) {
  body {
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../Assets/Images/bg-image.jpeg");
    color: #cccccc;
    font-family: control-freak;
    font-size: larger;
  }
  body .ui-container {
    width: 1280px;
  }
  body .window-title {
    display: block;
    background-color: #3c3c3c;
    margin-bottom: 5px;
  }
  body a {
    text-decoration: none;
    color: #f3f3f3;
  }
  body a:hover {
    text-decoration: underline;
    color: #00cbac;
  }
  body .topbar,
  body .room-view,
  body .profile-data,
  body .ship-navigation,
  body .console {
    background-color: #272727;
    border-top: solid 3px #3c3c3c;
    border-right: solid 2px #3c3c3c;
  }
  body .sidebar,
  body .room-view {
    position: absolute;
  }
  body .topbar {
    height: 20px;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 10px;
  }
  body .sidebar {
    width: 250px;
    float: left;
    margin-right: 30px;
    text-align: center;
  }
  body .sidebar .profile-data {
    background-color: #272727;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  body .sidebar .profile-data .profile-image {
    margin: 5px 25px 5px 25px;
    height: 200px;
    width: 200px;
    overflow: hidden;
  }
  body .sidebar .ship-navigation {
    background-color: #272727;
    height: 580px;
    padding-bottom: 5px;
  }
  body .sidebar .ship-navigation ul {
    padding: 0;
    margin: 0;
  }
  body .sidebar .ship-navigation ul li {
    margin-bottom: 5px;
  }
  body .sidebar .ship-navigation ul li:last-child {
    margin-bottom: 0;
  }
  body .sidebar .ship-navigation .ship-section {
    list-style-type: none;
    list-style-position: outside;
  }
  body .sidebar .ship-navigation .ship-section.current > a {
    color: #00a088;
  }
  body .sidebar .ship-navigation .ship-section:hover {
    cursor: pointer;
    border-right: 1px solid #00cbac;
    border-left: 1px solid #00cbac;
  }
  body .sidebar .ship-navigation .ship-section:hover a {
    text-decoration: underline;
    color: #00cbac;
  }
  body .room-view {
    text-align: center;
    position: relative;
    width: 950px;
    height: 600px;
    float: right;
  }
  body .console {
    display: none;
    position: absolute;
    left: auto;
  }
}
/*# sourceMappingURL=app.css.map */