﻿//BG-colors
@color-border-ui: #3c3c3c;
@color-background-ui: #272727;

//Text-colors
@color-base-bars: #CCCCCC;
@color-highlight: #f3f3f3;
@color-highlight-active: #00cbac;
@color-highlight-active-darkened: #00a088;

@font-face {
    font-family: control-freak;
    src: url('../Assets/Fonts/CONTF___.ttf') format('truetype');
}

@media (min-device-width: 1280px) {
    body {
        .ui-container {
            width: 1280px;
        }

        margin-left: 30px;
        margin-right: 30px;
        background-image: url("../Assets/Images/bg-image.jpeg");
        color: @color-base-bars;
        font-family: control-freak;
        font-size: larger;

        .window-title {
            display: block;
            background-color: @color-border-ui;
            margin-bottom: 5px;
        }

        a {
            text-decoration: none;
            color: @color-highlight;

            &:hover {
                text-decoration: underline;
                color: @color-highlight-active;
            }
        }

        .topbar, .room-view, .profile-data, .ship-navigation, .console {
            background-color: @color-background-ui;
            border-top: solid 3px @color-border-ui;
            border-right: solid 2px @color-border-ui;
        }

        .sidebar, .room-view {
            position: absolute;
        }

        .topbar {
            height: 20px;
            padding-right: 20px;
            text-align: right;
            margin-bottom: 10px;
        }

        .sidebar {
            width: 250px;
            float: left;
            margin-right: 30px;
            text-align: center;

            .profile-data {
                background-color: @color-background-ui;
                margin-bottom: 10px;
                padding-bottom: 5px;

                .profile-image {
                    margin: 5px 25px 5px 25px;
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                }
            }

            .ship-navigation {
                background-color: @color-background-ui;
                height: 580px;
                padding-bottom: 5px;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .ship-section {
                    list-style-type: none;
                    list-style-position: outside;

                    &.current > a {
                        color: @color-highlight-active-darkened;
                    }

                    &:hover {
                        cursor: pointer;
                        border-right: 1px solid @color-highlight-active;
                        border-left: 1px solid @color-highlight-active;

                        a {
                            text-decoration: underline;
                            color: @color-highlight-active;
                        }
                    }
                }
            }
        }

        .room-view {
            text-align: center;   
            position: relative;       
            width: 950px;
            height: 600px;
            float: right;
        }

        .console {
            display: none;
            position: absolute;
            left: auto;
            
        }
    }
}
