﻿//BG-colors
@color-border-ui: #3c3c3c;
@color-background-table: #272727;
@color-background-table-2nd: #303030;

//Text-colors
@color-base-bars: #CCCCCC;
@color-highlight: #f3f3f3;
@color-highlight-active: #00cbac;
@color-highlight-active-darkened: #00a088;

#bridge-view {
   .attack-link {
       color: mediumvioletred;
   }

   .trade-link {
       color: mediumblue;
   }
}
