﻿#cargo-hold {
  height: 100%;
  font-weight: lighter;
  font-size: smaller;
}
#cargo-hold .item-name {
  width: 30%;
}
#cargo-hold .item-quantity {
  width: 25%;
}
#cargo-hold .item-type {
  width: 35%;
}
#cargo-hold #cargo-hold-header {
  text-decoration: underline;
  color: #f3f3f3;
  background: #272727;
  width: 100%;
  padding: 0;
}
#cargo-hold #cargo-hold-items-wrapper {
  overflow: hidden;
  height: 552px;
}
#cargo-hold #cargo-hold-items-wrapper #cargo-hold-items {
  width: 100%;
}
#cargo-hold #cargo-hold-items-wrapper #cargo-hold-items tr:nth-child(even) {
  background: #272727;
}
#cargo-hold #cargo-hold-items-wrapper #cargo-hold-items tr:nth-child(odd) {
  background: #303030;
}
/*# sourceMappingURL=cargo-hold-view.css.map */