﻿//BG-colors
@color-border-ui: #3c3c3c;
@color-background-table: #272727;
@color-background-table-2nd: #303030;

//Text-colors
@color-base-bars: #CCCCCC;
@color-highlight: #f3f3f3;
@color-highlight-active: #00cbac;
@color-highlight-active-darkened: #00a088;

#cargo-hold {
    height: 100%;
    font-weight: lighter;
    font-size: smaller;

    .item-name { width: 30%; }
    .item-quantity { width: 25%; }
    .item-type { width: 35%; }

    #cargo-hold-header {
        text-decoration: underline;
        color: @color-highlight;
        background: @color-background-table;
        width: 100%;
        padding: 0;
    }

    #cargo-hold-items-wrapper {
        overflow: hidden;
        height: 552px;

        #cargo-hold-items {
            width: 100%;

            tr:nth-child(even) {
                background: @color-background-table;
            }

            tr:nth-child(odd) {
                background: @color-background-table-2nd;
            }
        }
    }
}
