﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles/Bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Styles/app.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
